/* standard css */
/* tags css */
* {
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 0;
}
*:focus-visible,
button:not(:has(> img)):active,
a:has(img:only-child):active {
  outline: #ffffdfff solid 1px;
  outline-offset: 1px;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #202040ff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
span,
pre,
code {
  color: #ffffdfff;
}
code {
  background-color: #202020ff;
}
a {
  color: #40afdfff;
  text-decoration: none;
}
a:hover {
  color: #40dfdfff;
}
input:is([type="text"], [type="email"], [type="password"], [type="number"], [type="tel"], [type="url"], [type="search"]) {
  border: none;
  background-color: #606070;
  color: #ffffdfff;
  &::placeholder {
    color: #c0c0a0ff;
  }
}
/* input:is([type="text"], [type="email"], [type="password"], [type="number"], [type="tel"], [type="url"], [type="search"]):invalid {
  outline: red solid 1px;
  outline-offset: 1px;
} */
button {
  cursor: pointer;
  border: none;
}
button[type="submit"]:not(:has(> img)) {
  background-color: #9fcf9fff;
  font-weight: bold;
}
button:has(> img) {
  background-color: transparent;
}
:is(a, button) > img:only-child {
  height: 100%;
}
:is(input:is([type="text"], [type="email"], [type="password"], [type="number"], [type="tel"], [type="url"], [type="search"])):hover:not(:focus), :is(button:not(:has(> img)), a:has(> img:only-child)):hover:not(:focus) {
  outline: #a0a080ff solid 1px;
  outline-offset: 1px;
}

/* .basic-main */
.basic-main {
  margin: auto;
  margin-top: 2rem;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  width: 70%;
}
/* .full-main */
.full-main {
  margin-top: 10rem;
  padding-bottom: 2rem;
  width: 100%;
}
:is(.basic-main, .full-main) > .logo {
  display: block;
  margin: auto;
  margin-bottom: 2rem;
  width: fit-content;
  height: 8rem;
}
/* .basic-header */
.basic-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #003060ff;
}
.basic-header > :is(.logo, .account-button) {
  height: 4rem;
}
.basic-header > .search {
  display: flex;
  gap: 1rem;
  margin: auto;
  width: 50%;
}
.basic-header > .search > button[type="submit"] {
  height: 2rem;
}
.basic-header > .search > input[type="search"] {
  flex-grow: 1;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
}
.basic-header > .account {
  transition: width 1s ease 1s;
}
.basic-header > .account:hover {
  width: 20%;
  height: 100%;
}
/* .basic-nav */
.basic-nav > ul {
  list-style-type: none;
  display: flex;
}
.basic-nav > ul > li {
  flex-basis: 0;
  flex-grow: 1;
  background-color: #0050a0ff;
}
.basic-nav > ul > li:hover {
  background-color: #0000a0ff;
}
.basic-nav > ul > li > a {
  display: block;
  text-align: center;
  padding: 0.5rem;
  font-size: 1.5rem;
}
.basic-nav > ul > li:has(a:active) {
  background-color: #000080ff;
}
/* .basic-footer */
.basic-footer {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  background-color: #003060ff;
  width: 100%;
}
.basic-footer > :is(div, section, article) > h3 {
  text-align: center;
  margin-bottom: 1rem;
}
/* .basic-form */
.basic-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  border-radius: 0.5rem;
  background-color: #004080ff;
  padding: 2rem;
  width: 30rem;
}
.basic-form > :is(h1, h2, h3) {
  margin-bottom: 1.5rem;
  text-align: center;
}
.basic-form > .field {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: #003060ff;
  padding: 5%;
}
.basic-form > .field:first-of-type ~ .field {
  margin-top: 0.5rem;
}
.basic-form > .field > input:is([type="text"], [type="email"], [type="password"], [type="number"], [type="tel"], [type="url"], [type="search"]) {
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
}
.basic-form > button[type="submit"] {
  margin: auto;
  margin-top: 1rem;
  border-radius: 0.5rem;
  padding: 0.7rem;
  font-size: 1rem;
}
.basic-form > menu > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.basic-form > menu > ul:has(> :only-child) {
  justify-content: center;
}

/* specific elements */
#gameCanvas {
  display: block;
  margin: auto;
}

/* end standard css */
